body {
    font-family: Verdana;
    padding: 10px 100px;
}
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px;
}
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 5px;
}
.navbar a.logo {
    font-size: 25px;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar-right {
    float: right;
}
.navbar-right #web-navbar {
    border-style: solid;
}
.header {
    text-align: center;
}
article {
    display: flex;
    width: 50% 50%;
    box-sizing: border-box;
    flex-direction: row;
}
article div.article {
    width: 50%;
    height: 50%;
}
article div.aside {
    width: 50%;
    height: 50%;
}
article div.article-profile {
    
}
article div.article-profile#avatar {
    display: flex;
}
img#avatar-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
p.section1 {
    
}
div.section1#section1-avatar {
    display: flex;
    flex-direction: row;
}
img#section1-avatar-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar-right {
        float: none;
    }
}